* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #29303b;
  background-color: #fff;
  line-height: 1.43; }

.myNavBar {
  border-bottom: 1px solid #cacbcc; }
  .myNavBar .navbar-brand {
    flex-grow: 1; }
    .myNavBar .navbar-brand img {
      width: 110px; }
  .myNavBar .categories {
    flex-grow: 1;
    color: #505763;
    font-size: 13px;
    font-weight: normal;
    align-self: center; }
  .myNavBar .input-search {
    flex-grow: 5; }
    .myNavBar .input-search .form-control {
      background-color: rgba(20, 23, 28, 0.05);
      border: none;
      font-size: 13px;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none; }
      .myNavBar .input-search .form-control:focus {
        box-shadow: none;
        background-color: #fff;
        border-top: 1px solid #cacbcc;
        border-bottom: 1px solid #cacbcc;
        border-left: 1px solid #cacbcc; }
      .myNavBar .input-search .form-control:focus + .input-group-prepend .input-group-text {
        background-color: #fff;
        color: #ec5252;
        border-top: 1px solid #cacbcc;
        border-bottom: 1px solid #cacbcc;
        border-right: 1px solid #cacbcc; }
      .myNavBar .input-search .form-control:focus + .input-group-prepend:hover .input-group-text {
        color: #fff;
        background-color: #ec5252; }
    .myNavBar .input-search .input-group-prepend .input-group-text {
      background-color: rgba(20, 23, 28, 0.05);
      color: #ec5252;
      border: none; }
    .myNavBar .input-search .input-group-prepend:hover .input-group-text {
      color: #fff;
      background-color: #ec5252; }
  .myNavBar .navbar-nav {
    justify-content: space-between;
    width: 100%; }
    .myNavBar .navbar-nav .nav-item .nav-link {
      color: #505763;
      font-size: 13px;
      font-weight: normal;
      padding: 10px 20px; }
    .myNavBar .navbar-nav .nav-item:hover {
      background-color: rgba(20, 23, 28, 0.05); }
    .myNavBar .navbar-nav .nav-item:nth-child(3) {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
  @media screen and (max-width: 1200px) {
    .myNavBar .navbar-nav .business, .myNavBar .navbar-nav .instructor {
      display: none; } }
  @media screen and (max-width: 768px) {
    .myNavBar .categories, .myNavBar .input-search {
      display: none; } }

.myCover {
  background-image: url("../img/cover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; }
  .myCover .cover_content {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 40%; }
    .myCover .cover_content h1 {
      color: #fff;
      font-size: 40px;
      font-weight: bold; }
    .myCover .cover_content p {
      color: #fff;
      font-size: 18px;
      font-weight: normal; }
    .myCover .cover_content .input .form-control {
      padding: 20px;
      border: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0; }
      .myCover .cover_content .input .form-control::placeholder {
        color: #a1a7b3;
        font-size: 20px;
        font-weight: normal; }
      .myCover .cover_content .input .form-control:focus {
        box-shadow: none; }
    .myCover .cover_content .input .input-group-prepend .input-group-text {
      background-color: #fff;
      color: #ec5252;
      border: none; }
    .myCover .cover_content .input .input-group-prepend:hover .input-group-text {
      background-color: #ec5252;
      color: #fff; }

.myIntro {
  background: linear-gradient(to right, #521822, #ec5252); }
  .myIntro .intro_content {
    width: 80%;
    margin: auto;
    padding: 20px; }
    .myIntro .intro_content .intro_item .icon {
      color: #fff;
      font-size: 50px;
      font-weight: bold;
      margin-right: 25px; }
    .myIntro .intro_content .intro_item .icon_content {
      padding-top: 10px; }
      .myIntro .intro_content .intro_item .icon_content p:first-child {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 0; }
      .myIntro .intro_content .intro_item .icon_content p:last-child {
        color: #fff;
        font-size: 17px;
        font-weight: normal; }

.myCourse {
  margin-top: 25px; }
  .myCourse .course_content {
    width: 80%;
    margin: auto; }
    .myCourse .course_content .course_intro {
      padding-top: 4rem; }
      .myCourse .course_content .course_intro h2 {
        color: #29303b;
        font-size: 36px;
        font-weight: normal; }
    .myCourse .course_content .myTab .nav {
      justify-content: space-between;
      border: none; }
      .myCourse .course_content .myTab .nav .nav-item:hover .nav-link {
        border: none; }
      .myCourse .course_content .myTab .nav .nav-item .nav-link.active {
        border: none;
        border-bottom: 5px solid #007791; }
      .myCourse .course_content .myTab .nav .nav-item .nav-link {
        color: #29303b;
        font-size: 15px;
        font-weight: normal;
        border: none; }
    .myCourse .course_content .myTab .tab-content {
      margin-top: 25px;
      position: relative; }
      .myCourse .course_content .myTab .tab-content .card-title {
        color: #29303b;
        font-size: 15px;
        font-weight: bold; }
      .myCourse .course_content .myTab .tab-content .card-text {
        color: #686f7a;
        font-size: 13px;
        font-weight: normal; }
      .myCourse .course_content .myTab .tab-content .rating {
        display: flex; }
        .myCourse .course_content .myTab .tab-content .rating .rating_star {
          color: #F4C150;
          font-size: 13px;
          font-weight: normal;
          margin-right: 2px; }
        .myCourse .course_content .myTab .tab-content .rating span:nth-child(2) {
          color: #686f7a;
          font-size: 13px;
          font-weight: bold;
          margin-right: 2px; }
        .myCourse .course_content .myTab .tab-content .rating span:last-child {
          color: #686f7a;
          font-size: 13px;
          font-weight: normal; }
      .myCourse .course_content .myTab .tab-content .price .old-price {
        color: #686f7a;
        font-size: 13px;
        font-weight: normal;
        text-decoration: line-through; }
      .myCourse .course_content .myTab .tab-content .price .new-price {
        color: #29303b;
        font-size: 15px;
        font-weight: bold; }

.myStudent {
  margin-top: 25px; }
  .myStudent .student_content {
    width: 80%;
    margin: auto; }
    .myStudent .student_content .card-title {
      color: #29303b;
      font-size: 15px;
      font-weight: bold; }
    .myStudent .student_content .card-text {
      color: #686f7a;
      font-size: 13px;
      font-weight: normal; }
    .myStudent .student_content .rating {
      display: flex; }
      .myStudent .student_content .rating .rating_star {
        color: #F4C150;
        font-size: 13px;
        font-weight: normal;
        margin-right: 2px; }
      .myStudent .student_content .rating span:nth-child(2) {
        color: #686f7a;
        font-size: 13px;
        font-weight: bold;
        margin-right: 2px; }
      .myStudent .student_content .rating span:last-child {
        color: #686f7a;
        font-size: 13px;
        font-weight: normal; }
    .myStudent .student_content .price .old-price {
      color: #686f7a;
      font-size: 13px;
      font-weight: normal;
      text-decoration: line-through; }
    .myStudent .student_content .price .new-price {
      color: #29303b;
      font-size: 15px;
      font-weight: bold; }

.owl-prev, .owl-next {
  position: absolute;
  top: 33%;
  left: -3%;
  padding: 0;
  width: 45px;
  height: 45px;
  border-radius: 50% !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff !important;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.1);
  z-index: 3; }
  .owl-prev span, .owl-next span {
    color: #007791;
    font-size: 40px;
    font-weight: normal;
    line-height: 0.7; }
  .owl-prev:focus, .owl-next:focus {
    outline: none; }

.owl-next {
  left: unset;
  right: -3%; }

.btn--white {
  color: #686f7a;
  background-color: #fff;
  font-weight: 600;
  border: 1px solid #505763; }
  .btn--white:hover {
    background-color: rgba(20, 23, 28, 0.05);
    color: #686f7a; }

.btn--red {
  color: #fff;
  background-color: #ec5252;
  font-weight: 600;
  border: 1px solid #ec5252; }
  .btn--red:hover {
    background-color: #992337;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
